/* line 10, /home/damxam/workspaces/codebrewery/scss/main.scss */
.banner {
  width: 100%;
  height: 160px;
  background-color: #4f6396; }
  /* line 11, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .banner .text-padding {
    padding: 20px; }
  /* line 15, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .banner .title {
    color: white;
    font-size: 4em; }
  /* line 20, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .banner .full-height {
    height: 160px; }

/* line 29, /home/damxam/workspaces/codebrewery/scss/main.scss */
.main-section {
  margin-top: 20px;
  width: 100%;
  height: 700px;
  font-size: 1.6em; }

/* line 37, /home/damxam/workspaces/codebrewery/scss/main.scss */
.text-padding {
  padding: 9px; }

/* line 41, /home/damxam/workspaces/codebrewery/scss/main.scss */
.left-column {
  width: 60%;
  height: 100%;
  float: left; }
  /* line 42, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .left-column .divider {
    background-color: transparent;
    height: 10px; }
  /* line 47, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .left-column .left-top {
    height: 45%;
    width: 90%;
    margin: auto; }
    /* line 48, /home/damxam/workspaces/codebrewery/scss/main.scss */
    .left-column .left-top .divider {
      height: 3%; }
    /* line 52, /home/damxam/workspaces/codebrewery/scss/main.scss */
    .left-column .left-top .left-top-left {
      float: left;
      width: 48%;
      left: 0px;
      background-color: #cdbcd0;
      height: 100%; }
    /* line 60, /home/damxam/workspaces/codebrewery/scss/main.scss */
    .left-column .left-top .left-top-right {
      float: left;
      width: 48%;
      background-color: #4f6396;
      height: 100%; }
  /* line 72, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .left-column .left-bottom {
    background-color: #bae696;
    height: 45%;
    width: 90%;
    margin: auto; }

/* line 85, /home/damxam/workspaces/codebrewery/scss/main.scss */
.right-column {
  width: 39%;
  height: 100%;
  background-color: #ba6396;
  float: left; }
  /* line 86, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .right-column .divider {
    height: 3%; }
  /* line 90, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .right-column .right-column-row {
    border: 5px solid #973063;
    border-radius: 9px; }
  /* line 95, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .right-column .right-top {
    height: 35%;
    width: 90%;
    margin: auto; }
  /* line 101, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .right-column .right-bottom {
    height: 55%;
    border: 5px solid #973063;
    border-radius: 9px;
    margin: auto;
    width: 90%; }

/* line 116, /home/damxam/workspaces/codebrewery/scss/main.scss */
.footer {
  background-color: #4f6396;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; }

/* line 124, /home/damxam/workspaces/codebrewery/scss/main.scss */
.vertical-divider {
  float: left;
  width: 4%;
  height: 100%;
  backgrounc-color: white; }

/* line 131, /home/damxam/workspaces/codebrewery/scss/main.scss */
.rounded-borders {
  border-radius: 6px; }

/* line 135, /home/damxam/workspaces/codebrewery/scss/main.scss */
.menu-buttons {
  margin-left: 15px; }
  /* line 138, /home/damxam/workspaces/codebrewery/scss/main.scss */
  .menu-buttons .menu-button {
    margin-right: 30px;
    margin-top: 22px;
    font-size: 1.5em; }

/* line 145, /home/damxam/workspaces/codebrewery/scss/main.scss */
.menu {
  height: 80px; }

/* line 149, /home/damxam/workspaces/codebrewery/scss/main.scss */
.highlight-button {
  background-color: #cdbcd0; }

/* line 153, /home/damxam/workspaces/codebrewery/scss/main.scss */
.regular-button {
  background-color: #c3c3c3; }

/* line 157, /home/damxam/workspaces/codebrewery/scss/main.scss */
.backgroundbody {
  background-color: #636363; }

/* line 162, /home/damxam/workspaces/codebrewery/scss/main.scss */
.mainbody {
  min-width: 600px;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  background-color: white;
  margin: auto; }

/* line 175, /home/damxam/workspaces/codebrewery/scss/main.scss */
.float-left {
  float: left; }

/* line 179, /home/damxam/workspaces/codebrewery/scss/main.scss */
.float-right {
  float: right; }

/*# sourceMappingURL=main.css.map */